.search-engine {
  justify-content: center;
  align-items: center;
}

.Dictionary input {
  border-radius: 10px 0 0 10px;
  width: 200px;
}

.search-engine button {
  border: 1px solid #ced4da;
  border-radius: 0 10px 10px 0;
}
